@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@mixin reset {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
  }

 
.cabecalho{
   
    background-color: #dce011;
    @include reset;
    h1, ul{
        text-align: center;

    }

    ul{
        list-style: none;
        font-size: 25px;
        li{
            display: inline;
            

            a{
                display: inline-flex;
                text-decoration: none;
                font-weight: bold;
                color: #000;
                padding: 1%;
                border-radius: 2px;
                transition: all ease-out 300ms;

                &:hover{
                    color: #fff;
                    background-color: #000;
                }

            }
        }
    }

}